* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%; /*100% equivale a 16px por padrão no navegador. 62.5 vale 10px*/
}

html{
    scroll-behavior: smooth;  /*Criando Scroll suave*/
}

body {
    max-width: 100vw;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    background: linear-gradient(90deg, rgb(26, 26, 26)22%,  rgb(51, 51, 51)100%);
    background-size: cover;
    overflow-x:hidden;
}

div.menu a {
    font-family: sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
}

main {
    margin: 5rem auto 1rem auto;
    height: 70rem;
    display: flex;
    flex-direction: column;
    max-width: 40vw;
    align-items: center;
}

main p, h4{
    color: rgb(255, 255, 255);
    font-size: 1.8rem;
}

main h4 {
    font-weight: 900;
}

main .site{
    color: rgb(255, 255, 255);
}

main .par {
    max-width: 90vw;
}

div.site a{
    font-size: 100%;
    text-decoration: underline;
}

.site {
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    min-height: 45vh;
    margin: 3rem;
}

.site .imagem {
    max-height: 45vh;
    margin-top: 1px;
}

.par .imagem {
    margin-left: 1rem;
}

.impar .imagem {
    margin-right: 1rem;
}

.par, .par h4 {
    text-align: right;
}

h4 {
    font-size: 2.5rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-align: start;
}

.texto {
    max-width: 80vw;
    font-size: 1.5rem;
    margin: 0 2rem 0 2rem;
}

.texto a{
    transition: 0.4s;
}

.texto a:hover{
    color: rgb(89, 0, 190);
}

.conheci {
    font-weight: 900;
}