* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%; /*100% equivale a 16px por padrão no navegador. 62.5 vale 10px*/
}

body {
    max-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: sans-serif;
    background: linear-gradient(45deg, rgb(16, 4, 29), rgba(115, 78, 218, 0.808) 100%), url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}

.contatos {
    margin-top: 5rem;
    line-height: 2.5rem;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.contatos a {
    background-color: rgb(89, 0, 190);
    box-shadow: 3px 5px 5px #0000007a;
    width: 10rem;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    transition: 0.4s;
    color: white;
}

.contatos a:hover {
    background-color: rgb(117, 22, 224);
}