* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%; /*100% equivale a 16px por padrão no navegador. 62.5 vale 10px*/
}

body {
    max-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: sans-serif;
    background: linear-gradient(45deg, rgb(16, 4, 29), rgba(115, 78, 218, 0.808) 100%), url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}

.contatos {
    max-width: 60vw;
    flex-wrap: wrap;
    margin-top: 5rem;
    line-height: 2.5rem;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    text-align: center;
}