@media (max-width: 299px){

    body {
        align-items: center;
        display: inline-flex;
    }

    .texto h4{
        text-align: center;
        margin-bottom: 2rem;
        margin-left: 1rem;
    }

    div.par, 
    div.impar {
        text-align: center;
    }

    div.par a,
    div.impar a {
        font-size: 15px;
        padding-top: 10rem;
    }

    header {
        text-align: center;
        height: 100vh;
        font-size: 10px;        
    }

    header .menu {
        display: inline-flex;
        flex-wrap: wrap;
    }

    h1,h2,h3 {
        text-align: center;
        margin-right: auto;
        margin-left: auto;
    }

    main div.site {
        min-height: 80vh;
        min-width: 90vw;
        justify-content: center;
        align-content: center;
    }

    main div.site img {
        width: 70vw;
    }

    main div.site div.imagem {
        max-height: 30vh;        
    }

    main div.site div.texto{
        max-width: 100vw;
        margin: 0;
        padding:0;
    }

    footer .assinatura {
        display:none;
    }
    
}

@media (min-width: 300px){

    body{
        display: flex;
        width: 100vw;
        height: 100vw;
        align-content: center;
        justify-content: center;
    }

    header {
        min-height: 100vh;
    }

    main {
        max-width: 90vw;
    }
    
    main div.site {
        width: 90vw;
        min-height: 90vh;
    }

    div.par, 
    div.impar {
        justify-content: center;
        align-content: center;
    }

    div.site {
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    main div.site img {
        max-width: 70vw;
    }

    footer {
        display: inline;
        flex-direction: column-reverse;
    }

    footer .assinatura #sig {
        font-size: 3rem;
    }

}

@media (min-width: 500px){

    div.site{
        align-content: space-around;
        height: 100vh;
    }

    main div.site img {
        width: 40rem;
    }

    footer {
        display: flex;
        flex-direction: row;
    }

}

@media (min-width: 650px){

    header{
        width: 100vw;
        min-height: 100vh;
    }

    header div.cabecalho {
        margin:30px;
        align-content: center;
    }

    h1 {
        margin-top: 20vh;
    }

    h1, h2, h3 {
        text-align: center;
    }

    img.seta {
        margin-top: 10vh;
    }

    main {
        max-width: 100vw;
        max-height: 100vh;
        margin: 0;
    }

    main .site .par,
    main .site .impar {
        height: 50vh;
    }

    main .site .texto {
        max-width: 80vw;
    }

    h4 {
        font-size: 3.0rem;
    }
    
    main div.site p {
        font-size: 2.5rem;
        line-height: 3rem;
    }

    main div.site img {
        max-width: 50vh;
        margin-top: 5rem;
    }

}


@media (min-width: 947px){

    h4 {
        font-size: 3.5rem;
    }
    
    main {
        margin:0;
        width: 100vw;
    }

    main div.site .texto {
        width: 90vh;
        min-height: 90vh;
        line-height: 3.0rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    main div.site p{
        font-size: 2.0rem;
    }

    main div.site {
        min-width: 100vw;
    }

    main div.impar{
        background: linear-gradient(45deg, rgb(0, 0, 0), rgba(0, 0, 0, 0.63) 100%), url(../img/background.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        color: white;
        min-width: 100vw;
        display: flex;
        flex-direction: row;
    }

    main div.impar .imagem {
        order:2;
    }    

    main div.site img{
        max-width: 80vw;
        margin-top: 0;
    }

}