@font-face{
    font-family: 'sig';
    src: url('../font/modernline.otf')
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: rgba(185, 184, 184, 0.788);
}

:root {
    font-size: 62.5%; /*100% equivale a 16px por padrão no navegador. 62.5 vale 10px*/
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    font-family: sans-serif;
    background: linear-gradient(45deg, rgb(16, 4, 29), rgba(115, 78, 218, 0.808) 100%), url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
    flex-direction: column;
    justify-content: center;
}

header {
    max-width: 80vw;
    font-size: 2.5rem;
    color: rgba(245, 245, 245, 0.788);
    font-family: 'sig';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;

}

header h1 {
    text-align: center;
}

header h6 {
    text-align: right;
    font-family: sans-serif;
}

.centro {
    display: inline-flex;
    flex-wrap: wrap;
    width: 60vw;
    height: 20vh;
    align-self: center;
    align-items: flex-end;

}

.botao {
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    box-shadow: 3px 5px 5px #0000007a;
    min-width: 15rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    padding: 1.0rem;
    font-size: 2rem;  
    text-align: center;
    cursor: pointer;
    color: white;
    font-family: 'Gochi Hand', cursive;
    background-color: rgb(89, 0, 190);
    transition: 0.4s;
}

.botao:hover {
    background-color: rgb(117, 22, 224);
}

.content {
    width: 100vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

footer a, footer p {
    text-align: center;
    text-decoration: none;
    color: rgb(153, 152, 152);
    font-family: sans-serif;
    font-size: 1.3rem;
}

footer a:hover {
    color: purple;
    font-weight: bolder;
}

#sig {
    font-family: 'sig';
}