:root {
    font-size: 62.5%; /*100% equivale a 16px por padrão no navegador. 62.5 vale 10px*/
}

.topo {
    position: fixed;
    display: inline;
    margin-left: 92vw;
    margin-top: 89vh;
    text-align: center;
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
    background: rgb(89, 0, 190);
    border-radius: 10px 0 0 10px;
    transition: 0.4s;
}

.topo:hover {
    background-color: rgb(117, 22, 224);
}

.topo a {
    font-size: 1.5rem;
}

